html {
   background: url(map1.jpeg)
}


body {
display: grid;
grid-template-columns: 5fr 0fr;
grid-template-areas: "header header"
"intro faq"
"articles faq"
"footer footer";
grid-column-gap: 15px;
}

body {
   margin-left: auto;
   margin-right: auto;
   width: 95%;
   max-width: 960px;
   min-width: 640px;
   background-color: rosybrown;
   font-family: Verdana, Geneva, Arial, sans-serif;   
}

body > header > nav.horizontalNavigation li {
   width: 20%;
}




body > header {
grid-row: 1;
grid-column: 1/-1;
}

body > article {grid-area: intro;}
body > aside {grid-area: faq;}
body > section {grid-area: articles;}
body > footer {grid-area: footer;}



body > header > img {
   display: block;
   width: 100%;
}


body > header > nav.horizontalNavigation li {
   width: 20%;
}

nav.horizontalNavigation > ul > li {
   display: block;
   float: left;
}

nav.horizontalNavigation a {
   background-color: white;
   display: block;
   font-family: Champagne, cursive;
   font-size: 1.4em;
   line-height: 1.8em;
   text-align: center;
}  

nav.horizontalNavigation a:link, 
nav.horizontalNavigation a:visited {
   color: darkorange;
}

nav.horizontalNavigation a:hover, 
nav.horizontalNavigation a:active {
   background-color: black;
} 

/* Grid Styles for Nested Grid */

h1 {
   text-indent: 1em;
}

body > header h1 {
   font-size: 2.4em;
   line-height: 2.4em;
   font-family: Champagne, cursive;
   letter-spacing: 0.3em;
   text-align: center;
   font-weight: normal;
   color: black;
}

body > article > h1, body > section > h1, body > aside > h1, body > section > article > h1 {
   font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
   padding: 0.5em 0;
}

body > article > h1, body > section > h1, body > aside > h1 {
   font-size: 1.3em;
   background-color: white;
   color: darkorange;
}

p {
   margin: 1em;
   font-size: 0.9em;
}

/* Left Column Styles */

img {
   width: 100%;
   display: block;
}





section > article > h1 {
   font-size: 1.1em;
}

section {
display: grid;
grid-template-columns: repeat(2, 2fr);
}

section > h1 {
grid-area: 1/1/2/3;
}

